@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.container{
    min-width: 1440px;
}

/* NAVIGATION */

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 145px 25px 152px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}

.nav-row-right{
    display: flex;
    align-items: center;
    gap: 26px;
}

.nav-links{
    display: flex;
    gap: 32px;
}

.nav-link a{
    font-size: 15px;
    font-weight: 400;
    color: #666666;
}

.nav-btn{
    padding: 10px 25px;
    background-color: #222222;
    border-radius: 4px;
}

.nav-btn a{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

/* HEADER */

.header{
    display: flex;
    padding: 0 214px;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.header-title{
    color: #222222;
    font-size: 54px;
    font-weight: 400;
    width: 400px;
}

.header-txt{
    color: #222222;
    font-weight: 400;
    margin-top: 18px;
}

.header-btn{
    padding: 10px 25px;
    background-color: #222222;
    border-radius: 4px;
}

.header-btn a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.header-btns{
    margin-top: 20px;
}

.phone{
    background-image: url(../img/Phone1.svg);
}

/* 1 секция */
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222222;
}

.section1-txt{
    font-size: 14px;
    font-weight: 400;
    color:white;
    margin-top: 100px;
}

.section1-title{
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin-top: 5px;
}

.blocks{
display: flex;
flex-wrap: wrap;
gap: 15px;
padding: 0 136px;
margin-top: 45px;
margin-bottom: 100px;
}

.block{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 379px;
    height: 490px;
    border-radius: 20px;
    border: 1px solid black;
    position: relative;
    background: white;
}

.block-img1{
    width: 227px;
    height: 450px;
    position: absolute;
    bottom: 0px;
}

.block-img2{
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 167px;
    left:157px;
}


.block2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F2F2F2;
    width: 379px;
    height: 197px;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


.block-title1{
    color: #0278ED;
    font-size: 24px;
    font-weight: 400;
}

.block-title2{
    color: #FF5437;
    font-size: 24px;
    font-weight: 400;
}

.block-title3{
    color: #FF9209;
    font-size: 24px;
    font-weight: 400;
}

.block-title4{
    color: #E738CE;
    font-size: 24px;
    font-weight: 400;
}

.block-title5{
    color: #00C6DF;
    font-size: 24px;
    font-weight: 400;
}

.block-title6{
    color: #B25DF8;
    font-size: 24px;
    font-weight: 400;
}

/* 2 СЕКЦИЯ */

.section2{
    background: #FF5437;
    display: flex;
    justify-content: space-around;
}

.block3{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.numbers{
    font-size: 95px;
    font-weight: 400;
    color: white;
}

.section2-txt{
    font-size: 14px;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase
}

/* 3 СЕКЦИЯ */

.section3{
    display: flex;
    justify-content: space-around;
}

.section3-txt{
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section3-left{
    margin-top: 177px;
}

.section3-right{
    margin-top: 100px;
    height: 545px;
    z-index: -1;
}

.section3-title{
    font-size: 32px;
    font-weight: 400;
    color: #222222;
}

.section3-txt1{
    color: #666666;
}

/* 4 СЕКЦИЯ */

.section4{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.section4-right{
    width: 396px;
    margin-top: 177px;
}

.section4-left{
    margin-top: 100px;
}

.section4-txt{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.section4-title{
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 5px;
}

.section4-txt2{
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
}

/* 5 СЕКЦИЯ */

.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222222;
}

.section5-txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: white;
    margin-top: 100px;
}

.section5-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: white;
    margin-top: 5px;
}

.section5-txt2{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 14px;
    color: white;
    text-align: center;
}

.section5-img{
    margin-top: 36px;
    background-image: url(../img/section5/background.svg);
    background-size: 465px 455px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.section5-line{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    width: 251px;
    margin-bottom: 160px;
}

.section5-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.section5-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.section5-border{
    background: white;
    width: 600px;
    height: 2px;
}

.section5-left p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.section5-right p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

/* 6 СЕКЦИЯ */

.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: white;
}

.section6-txt{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 100px;
}

.section6-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    margin-top: 5px;
}

.section6-txt2{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 14px;
}

.section6-cards{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 41px;
    margin-bottom: 100px;
}

.section6-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 379px;
    height: 338px;
    border-radius: 20px;
    background:#F2F2F2;
}

.card-title1{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #0278ED; 
    margin-top: 49px;
}

.card-price1{
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    color: #0278ED;
    margin-top: -5px;
}

.card-txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    margin-top: 25px;
}

.card-btn1{
    background: #0278ED;
    padding: 10px 25px;
    border-radius: 4px;
    margin-top: 20px;
}
.card-btn1 a{
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card-title2{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FF5437; 
    margin-top: 49px;
}

.card-price2{
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    color: #FF5437;
    margin-top: -5px;
}

.card-btn2{
    background: #FF5437;
    padding: 10px 25px;
    border-radius: 4px;
    margin-top: 20px;
}

.card-btn2 a{
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.card-title3{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FF9209; 
    margin-top: 49px;
}

.card-price3{
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    color: #FF9209;
    margin-top: -5px;
}

.card-btn3{
    background: #FF9209;
    padding: 10px 25px;
    border-radius: 4px;
    margin-top: 20px;
}

.card-btn3 a{
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* 7 СЕКЦИЯ */

.section7{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
}

.section7-txt{
    margin-top: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.section7-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    margin-top: -2px;
}

.section7-txt2{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    margin-top: 14px;
}

.section7-cards{
    display: flex;
    gap: 16px;
    margin-top: 41px;
    margin-bottom: 100px;
}

.card-txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

.section7-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 379px;
    height: 224px;
    border-radius: 20px;
    background: white;
    padding: 30px;
}

.section7-cardpack{
    display: flex;
    gap: 10px;
}


.card-txt1{
    color: #1B1A1A;
}

.card-txt2{
    color: #1B1A1A;
font-size: 14px;
}

/* 8 СЕКЦИЯ */

.section8{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.section8-txt{
    color: #222222;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section8-title{
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    margin-top: 5px;
    margin-bottom: 14px;
}

.section8-txt2{
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    text-align: center;
}

.section8-img{
    margin-top: 27px;
    margin-bottom: 141px;
}

/* 9 СЕКЦИЯ */

.section9{
    display: flex;
    justify-content: center;
    gap: 46px;
    background: #E5E5E5;
}

.section9-title{
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    margin-top: 105px;
}

.section9-ltxt{
    font-size: 15px;
    color: #222222;
    margin-top: 13px;
}

.section9-ltxt1{
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    margin-top: 42px;
}

.section9-ltxt2{
    line-height: 24px;
    color: #222222;
    margin-top: 10px;
}

.section9-ltxt3{
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    margin-top: 50px;
}

.section9-ltxt4{
    line-height: 24px;
    color: #222222;
    margin-top: 10px;
    margin-bottom: 110px;
}

.section9-rtxt{
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    margin-top: 216px;
}

.section9-rtxt1{
    line-height: 24px;
    color: #222222;
    margin-top: 10px;
}

.section9-rtxt2{
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    margin-top: 26px;
}

.section9-rtxt3{
    line-height: 24px;
    color: #222222;
    margin-top: 10px;
}

/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo{
    margin-top: 100px;
}

.footer-icons{
    margin-top: 27px;
}

.footer-txt{
    color: #B1B1B1;
    line-height: 24px;
    margin-top: 25px;
    margin-bottom: 101px;
}

.bold-txt{
    color: #666666;
    line-height: 24px;
}

